<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - {{site.title}}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <!--   Syntax highlighting is only needed for posts -->
  {% if page.layout == 'post' %}
  <link rel="stylesheet" href="{{site.baseurl}}/css/syntax-highlighter.css">
  {% endif %}
  <link href="//fonts.googleapis.com/css?family=Noto+Sans|Work+Sans:700" rel="stylesheet">
</head>
<body>

<input type="checkbox" id="hamburger" name="hamburger">
<label id="label-ham" for="hamburger"></label>
<div class="menu-container">
  <div class="menu"></div>
  <div class="links">
      <a href="{{site.baseurl}}/"><i class="fa fa-home"></i>&nbsp;Home</a>
      <a href="{{site.baseurl}}/history/"><i class="fa fa-history"></i>&nbsp;History</a>
      <a href="{{site.baseurl}}/about-first/"><i class="fas fa-shapes"></i>&nbsp;About FIRST</a>
      <a href="{{site.baseurl}}/sponsors/"><i class="fas fa-hands-helping"></i>&nbsp;Sponsors</a>
      <a href="{{site.baseurl}}/support/"><i class="fas fa-hand-holding-usd"></i>&nbsp;Support us</a>
  </div>
</div>

<div class="content">
<header>
     <img src="{{site.baseurl}}/images/digital-minds.svg" alt="Digital Minds Logo" style="width: 300px;"/>
     <a href="{{site.baseurl}}/"><h1 class="site-title">{{site.title}}</h1></a>
     <a href="{{site.baseurl}}/"><h2 class="site-subtitle">Digital Minds</h1></a>
</header>
  {{ content }}
  
    <footer>
      <a href="https://www.facebook.com/frc5458/"><i class="fab fa-facebook-f"></i>&nbsp;Facebook</a>&nbsp;&nbsp;
      <a href="https://github.com/frcteam5458digitalminds"><i class="fab fa-github"></i>&nbsp;Github</a>&nbsp;&nbsp;
      <a href="https://www.snapchat.com/add/digital_minds"><i class="fab fa-snapchat"></i>&nbsp;Snapchat</a>&nbsp;&nbsp;
  </footer>
</div>
  <!-- Calling Fontawesome at the end to avoid delay in loading --> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</body>
</html>
